In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#1 Resources/JC-202001-citibike-tripdata.csv
#2 Resources/JC-202012-citibike-tripdata.csv

In [3]:
# File to Load (Remember to Change These)
this_year = "Resources/JC-202001-citibike-tripdata.csv"
past_year = "Resources/JC-202012-citibike-tripdata.csv"


# Read School and Student Data File and store into Pandas DataFrames
present_year = pd.read_csv(this_year)
year_ending = pd.read_csv(past_year)

#year_complete = pd.merge(this_year, past_year, how="left", on=["start_station_id", "start_station_id"])
#year_complete.head()

In [4]:
present_year.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [6]:
present_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26020 entries, 0 to 26019
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             26020 non-null  int64
 1   starttime                26020 non-null  object
 2   stoptime                 26020 non-null  object
 3   start station id         26020 non-null  int64
 4   start station name       26020 non-null  object
 5   start station latitude   26020 non-null  float64
 6   start station longitude  26020 non-null  float64
 7   end station id           26020 non-null  int64
 8   end station name         26020 non-null  object
 9   end station latitude     26020 non-null  float64
 10  end station longitude    26020 non-null  float64
 11  bikeid                   26020 non-null  int64
 12  usertype                 26020 non-null  object
 13  birth year               26020 non-null  int64
 14  gender                   26020 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 3.0+ MB

In [7]:
present_year['starttime']=pd.to_datetime(present_year['starttime'])
display(present_year)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26015,544,2020-01-31 23:29:29.391,2020-01-31 23:38:33.6910,3213,Van Vorst Park,40.718489,-74.047727,3194,McGinley Square,40.725340,-74.067622,29659,Subscriber,1989,1
26016,122,2020-01-31 23:30:59.367,2020-01-31 23:33:01.6870,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42361,Subscriber,1991,1
26017,201,2020-01-31 23:42:34.846,2020-01-31 23:45:55.8780,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42368,Subscriber,1988,1
26018,300,2020-01-31 23:45:00.680,2020-01-31 23:50:00.8740,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,42257,Subscriber,1981,2
26019,721,2020-01-31 23:48:35.170,2020-02-01 00:00:36.4060,3206,Hilltop,40.731169,-74.057574,3202,Newport PATH,40.727224,-74.033759,29302,Customer,1998,1

In [8]:
present_year['stoptime']=pd.to_datetime(present_year['stoptime'])
display(present_year)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26015,544,2020-01-31 23:29:29.391,2020-01-31 23:38:33.691,3213,Van Vorst Park,40.718489,-74.047727,3194,McGinley Square,40.725340,-74.067622,29659,Subscriber,1989,1
26016,122,2020-01-31 23:30:59.367,2020-01-31 23:33:01.687,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42361,Subscriber,1991,1
26017,201,2020-01-31 23:42:34.846,2020-01-31 23:45:55.878,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42368,Subscriber,1988,1
26018,300,2020-01-31 23:45:00.680,2020-01-31 23:50:00.874,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,42257,Subscriber,1981,2
26019,721,2020-01-31 23:48:35.170,2020-02-01 00:00:36.406,3206,Hilltop,40.731169,-74.057574,3202,Newport PATH,40.727224,-74.033759,29302,Customer,1998,1

In [9]:
present_year['tripduration']=pd.to_datetime(present_year['tripduration'], unit='m')
display(present_year)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 03:46:00,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,1970-01-01 06:17:00,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,1970-01-01 04:48:00,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,1970-01-01 07:15:00,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,1970-01-01 03:51:00,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26015,1970-01-01 09:04:00,2020-01-31 23:29:29.391,2020-01-31 23:38:33.691,3213,Van Vorst Park,40.718489,-74.047727,3194,McGinley Square,40.725340,-74.067622,29659,Subscriber,1989,1
26016,1970-01-01 02:02:00,2020-01-31 23:30:59.367,2020-01-31 23:33:01.687,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42361,Subscriber,1991,1
26017,1970-01-01 03:21:00,2020-01-31 23:42:34.846,2020-01-31 23:45:55.878,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42368,Subscriber,1988,1
26018,1970-01-01 05:00:00,2020-01-31 23:45:00.680,2020-01-31 23:50:00.874,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,42257,Subscriber,1981,2
26019,1970-01-01 12:01:00,2020-01-31 23:48:35.170,2020-02-01 00:00:36.406,3206,Hilltop,40.731169,-74.057574,3202,Newport PATH,40.727224,-74.033759,29302,Customer,1998,1

In [13]:
#present_year['start station name'].astype('str')

present_year["start station name"] = present_year['start station name'].astype('str')
present_year.dtypes

tripduration               datetime64[ns]
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [14]:
present_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26020 entries, 0 to 26019
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             26020 non-null  datetime64[ns]
 1   starttime                26020 non-null  datetime64[ns]
 2   stoptime                 26020 non-null  datetime64[ns]
 3   start station id         26020 non-null  int64
 4   start station name       26020 non-null  object
 5   start station latitude   26020 non-null  float64
 6   start station longitude  26020 non-null  float64
 7   end station id           26020 non-null  int64
 8   end station name         26020 non-null  object
 9   end station latitude     26020 non-null  float64
 10  end station longitude    26020 non-null  float64
 11  bikeid                   26020 non-null  int64
 12  usertype                 26020 non-null  object
 13  birth year               26020 non-null  int64
 14  gender                   26020 non-null  int64
dtypes: datetime64[ns](3), float64(4), int64(5), object(3)
memory usage: 3.0+ MB

In [15]:
present_year['gender'].replace(to_replace=[0, 1, 2], value=['Unknown', 'Male', 'Female'],inplace=True)
present_year

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 03:46:00,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,Female
1,1970-01-01 06:17:00,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,Female
2,1970-01-01 04:48:00,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,Male
3,1970-01-01 07:15:00,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,Unknown
4,1970-01-01 03:51:00,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26015,1970-01-01 09:04:00,2020-01-31 23:29:29.391,2020-01-31 23:38:33.691,3213,Van Vorst Park,40.718489,-74.047727,3194,McGinley Square,40.725340,-74.067622,29659,Subscriber,1989,Male
26016,1970-01-01 02:02:00,2020-01-31 23:30:59.367,2020-01-31 23:33:01.687,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42361,Subscriber,1991,Male
26017,1970-01-01 03:21:00,2020-01-31 23:42:34.846,2020-01-31 23:45:55.878,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42368,Subscriber,1988,Male
26018,1970-01-01 05:00:00,2020-01-31 23:45:00.680,2020-01-31 23:50:00.874,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,42257,Subscriber,1981,Female
26019,1970-01-01 12:01:00,2020-01-31 23:48:35.170,2020-02-01 00:00:36.406,3206,Hilltop,40.731169,-74.057574,3202,Newport PATH,40.727224,-74.033759,29302,Customer,1998,Male

In [16]:
presentyear = datetime.now().year

present_year["Age"] = presentyear - present_year["birth year"]

present_year.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,1970-01-01 03:46:00,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,Female,39
1,1970-01-01 06:17:00,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,Female,34
2,1970-01-01 04:48:00,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,Male,34
3,1970-01-01 07:15:00,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,Unknown,54
4,1970-01-01 03:51:00,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,Female,40

In [17]:
  present_year = present_year.rename(columns={
    "tripduration": "Trip Duration",
    "starttime": "Start Time",
    "stoptime": "Stop Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "Birth Year",
    "gender": "Gender",
    "month": "Month"
      
})

present_year.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Age
0,1970-01-01 03:46:00,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,Female,39
1,1970-01-01 06:17:00,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,Female,34
2,1970-01-01 04:48:00,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,Male,34
3,1970-01-01 07:15:00,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,Unknown,54
4,1970-01-01 03:51:00,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,Female,40

In [18]:
present_year.to_csv("jancleaned-citibike-tripdata.csv", index = False)

In [19]:
year_ending.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [20]:
year_ending.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11694 entries, 0 to 11693
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             11694 non-null  int64
 1   starttime                11694 non-null  object
 2   stoptime                 11694 non-null  object
 3   start station id         11694 non-null  int64
 4   start station name       11694 non-null  object
 5   start station latitude   11694 non-null  float64
 6   start station longitude  11694 non-null  float64
 7   end station id           11694 non-null  int64
 8   end station name         11694 non-null  object
 9   end station latitude     11694 non-null  float64
 10  end station longitude    11694 non-null  float64
 11  bikeid                   11694 non-null  int64
 12  usertype                 11694 non-null  object
 13  birth year               11694 non-null  int64
 14  gender                   11694 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 1.3+ MB

In [21]:
year_ending['starttime']=pd.to_datetime(year_ending['starttime'])
display(year_ending)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.145,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.391,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.361,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.368,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.011,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.003,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.263,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.462,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.464,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.575,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [22]:
year_ending['stoptime']=pd.to_datetime(year_ending['stoptime'])
display(year_ending)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.145,2020-12-01 00:05:16.194,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.391,2020-12-01 00:21:30.251,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.361,2020-12-01 00:21:16.873,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.368,2020-12-01 00:48:14.428,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.011,2020-12-01 01:27:11.940,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.003,2020-12-31 23:36:54.471,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.263,2020-12-31 23:43:19.859,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.462,2021-01-01 00:00:31.329,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.464,2020-12-31 23:46:22.730,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.575,2021-01-01 00:15:22.309,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [23]:
year_ending['tripduration']=pd.to_datetime(year_ending['tripduration'], unit='m')
display(year_ending)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 02:26:00,2020-12-01 00:02:50.145,2020-12-01 00:05:16.194,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,1970-01-01 09:32:00,2020-12-01 00:11:57.391,2020-12-01 00:21:30.251,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,1970-01-01 06:27:00,2020-12-01 00:14:49.361,2020-12-01 00:21:16.873,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,1970-01-01 03:08:00,2020-12-01 00:45:06.368,2020-12-01 00:48:14.428,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,1970-01-01 09:54:00,2020-12-01 01:17:17.011,2020-12-01 01:27:11.940,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1970-01-02 05:10:00,2020-12-31 23:07:44.003,2020-12-31 23:36:54.471,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1970-01-02 01:19:00,2020-12-31 23:18:00.263,2020-12-31 23:43:19.859,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1970-01-02 05:21:00,2020-12-31 23:31:09.462,2021-01-01 00:00:31.329,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,1970-01-01 10:37:00,2020-12-31 23:35:45.464,2020-12-31 23:46:22.730,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1970-01-02 02:47:00,2020-12-31 23:48:34.575,2021-01-01 00:15:22.309,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [24]:
year_ending.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11694 entries, 0 to 11693
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             11694 non-null  datetime64[ns]
 1   starttime                11694 non-null  datetime64[ns]
 2   stoptime                 11694 non-null  datetime64[ns]
 3   start station id         11694 non-null  int64
 4   start station name       11694 non-null  object
 5   start station latitude   11694 non-null  float64
 6   start station longitude  11694 non-null  float64
 7   end station id           11694 non-null  int64
 8   end station name         11694 non-null  object
 9   end station latitude     11694 non-null  float64
 10  end station longitude    11694 non-null  float64
 11  bikeid                   11694 non-null  int64
 12  usertype                 11694 non-null  object
 13  birth year               11694 non-null  int64
 14  gender                   11694 non-null  int64
dtypes: datetime64[ns](3), float64(4), int64(5), object(3)
memory usage: 1.3+ MB

In [25]:
year_ending.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11694 entries, 0 to 11693
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             11694 non-null  datetime64[ns]
 1   starttime                11694 non-null  datetime64[ns]
 2   stoptime                 11694 non-null  datetime64[ns]
 3   start station id         11694 non-null  int64
 4   start station name       11694 non-null  object
 5   start station latitude   11694 non-null  float64
 6   start station longitude  11694 non-null  float64
 7   end station id           11694 non-null  int64
 8   end station name         11694 non-null  object
 9   end station latitude     11694 non-null  float64
 10  end station longitude    11694 non-null  float64
 11  bikeid                   11694 non-null  int64
 12  usertype                 11694 non-null  object
 13  birth year               11694 non-null  int64
 14  gender                   11694 non-null  int64
dtypes: datetime64[ns](3), float64(4), int64(5), object(3)
memory usage: 1.3+ MB

In [28]:
year_ending['start station name'].astype('str')

0           Newport PATH
1         Journal Square
2         Journal Square
3          Grove St PATH
4        Christ Hospital
              ...
11689       Newport Pkwy
11690        Paulus Hook
11691            Sip Ave
11692           Grand St
11693       Morris Canal
Name: start station name, Length: 11694, dtype: object

In [29]:
year_ending.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11694 entries, 0 to 11693
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             11694 non-null  datetime64[ns]
 1   starttime                11694 non-null  datetime64[ns]
 2   stoptime                 11694 non-null  datetime64[ns]
 3   start station id         11694 non-null  int64
 4   start station name       11694 non-null  object
 5   start station latitude   11694 non-null  float64
 6   start station longitude  11694 non-null  float64
 7   end station id           11694 non-null  int64
 8   end station name         11694 non-null  object
 9   end station latitude     11694 non-null  float64
 10  end station longitude    11694 non-null  float64
 11  bikeid                   11694 non-null  int64
 12  usertype                 11694 non-null  object
 13  birth year               11694 non-null  int64
 14  gender                   11694 non-null  int64
dtypes: datetime64[ns](3), float64(4), int64(5), object(3)
memory usage: 1.3+ MB

In [30]:
year_ending['gender'].replace(to_replace=[0, 1, 2], value=['Unknown', 'Male', 'Female'],inplace=True)
year_ending.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 02:26:00,2020-12-01 00:02:50.145,2020-12-01 00:05:16.194,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,Female
1,1970-01-01 09:32:00,2020-12-01 00:11:57.391,2020-12-01 00:21:30.251,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,Female
2,1970-01-01 06:27:00,2020-12-01 00:14:49.361,2020-12-01 00:21:16.873,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,Male
3,1970-01-01 03:08:00,2020-12-01 00:45:06.368,2020-12-01 00:48:14.428,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,Male
4,1970-01-01 09:54:00,2020-12-01 01:17:17.011,2020-12-01 01:27:11.940,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,Male

In [31]:
yearending = datetime.now().year

year_ending["Age"] = yearending - year_ending["birth year"]

year_ending.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,1970-01-01 02:26:00,2020-12-01 00:02:50.145,2020-12-01 00:05:16.194,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,Female,34
1,1970-01-01 09:32:00,2020-12-01 00:11:57.391,2020-12-01 00:21:30.251,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,Female,26
2,1970-01-01 06:27:00,2020-12-01 00:14:49.361,2020-12-01 00:21:16.873,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,Male,63
3,1970-01-01 03:08:00,2020-12-01 00:45:06.368,2020-12-01 00:48:14.428,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,Male,25
4,1970-01-01 09:54:00,2020-12-01 01:17:17.011,2020-12-01 01:27:11.940,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,Male,35

In [32]:
  year_ending = year_ending.rename(columns={
    "tripduration": "Trip Duration",
    "starttime": "Start Time",
    "stoptime": "Stop Time",
    "start station id": "Start Station ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "Birth Year",
    "gender": "Gender",
    "month": "Month"
      
})

year_ending.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Age
0,1970-01-01 02:26:00,2020-12-01 00:02:50.145,2020-12-01 00:05:16.194,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,Female,34
1,1970-01-01 09:32:00,2020-12-01 00:11:57.391,2020-12-01 00:21:30.251,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,Female,26
2,1970-01-01 06:27:00,2020-12-01 00:14:49.361,2020-12-01 00:21:16.873,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,Male,63
3,1970-01-01 03:08:00,2020-12-01 00:45:06.368,2020-12-01 00:48:14.428,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,Male,25
4,1970-01-01 09:54:00,2020-12-01 01:17:17.011,2020-12-01 01:27:11.940,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,Male,35

In [33]:
year_ending.to_csv("deccleaned-citibike-tripdata.csv", index = False)